<div class="container mt-5">
    <div class="jumbotron">
        <h1>Subject = <%=acase.subject%></h1>
        <span>Created on : <%=acase.created%></span>

        <div><h3>Status: <%=acase.status%></h3></div>

        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Change Status
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/admin/cases/<%=acase._id%>?status=open">Open</a>
              <a class="dropdown-item" href="/admin/cases/<%=acase._id%>?status=closed">Closed</a>
              <a class="dropdown-item" href="/admin/cases/<%=acase._id%>?status=rejected">Rejected</a>
            </div>
          </div>

        <h3>Details</h3>
        <p><%=acase.details%></p>

        <h3>Contact details</h3>
        <h4>Email : <%=acase.contactEmail%></h4>
        <h4>Mobile No : <%=acase.mobileNo%></h4>
    </div>
</div>